<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">

    <style>
        #pageNum {
            text-align:center;
            margin:auto;
            font-size: larger;
            text-decoration-color: #13653f;
            font-weight: bold;
        }

        #searchBlock {
            text-align:center;
            margin:auto;
        }

        a {
            text-decoration: none !important;
        }

    </style>

</head>


<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='boardWrite.html'"
                    th:onclick="|location.href='@{/board/write}'|"
                    type="button">글 등록</button>
        </div>
        <br>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr style="text-align: center">
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="board : ${list}">
                <td style="text-align: center" th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                </td>
                <td style="text-align: center" th:text="${board.writer}"></td>
                <td style="text-align: center" th:text="${board.time}"></td>
                <td style="text-align: center" th:text="${board.countView}"></td>
            </tr>

            </tbody>
        </table>
    </div><br>

    <!--  Pagination  -->

    <div id="pageNum" >

        <a th:href="@{/board/list(page = ${p.getPpPage() - 1},searchKeyword=${searchKeyword})}"> << </a>
        <a th:if="${p.getpPage()== 1}" th:href="@{/board/list(page = ${p.getpPage() - 1},searchKeyword=${searchKeyword})}"> < </a>
        <a th:if="${p.getpPage() > p.getPageSize()}" th:href="@{/board/list(page = ${p.getsPage()}-10 -1,searchKeyword=${searchKeyword})}"> < </a>


            <th:block th:each="page : ${#numbers.sequence(p.getsPage(), p.getePage())}">
                <!--    데이터가 아예 없을 때는 1만 표시하도록 하기 위해서     -->
                <a th:if="${page == 0}" th:href="@{/board/list(page = ${page - 1},searchKeyword=${searchKeyword})}" ></a>
                <a th:if="${page != 0 && page != p.getcPage()}" th:href="@{/board/list(page = ${page - 1},searchKeyword=${searchKeyword})}" th:text="${page}"></a>
                <strong th:if="${page == p.getcPage()}" th:text="${page}" style="color : Red"></strong>
            </th:block>

        <a th:if="${p.getePage() < p.getNnPage()}" th:href="@{/board/list(page = ${p.getsPage()}+10 -1,searchKeyword=${searchKeyword})}"> > </a>
        <a th:if="${p.getePage() == p.getNnPage()}" th:href="@{/board/list(page = ${p.getNnPage() - 1},searchKeyword=${searchKeyword})}"> > </a>

        <a th:href="@{/board/list(page = ${p.getNnPage() - 1},searchKeyword=${searchKeyword})}"> >> </a>

        <br>
    </div>

    <div id="searchBlock">
        <form th:action="@{/board/list}" method="get">
            <br><input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>
</div>

</body>
</html>