<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시글 상세</h2>
    </div>
    <button class="btn btn-primary float-end"
            onclick="location.href='boardList.html'"
            th:onclick="|location.href='@{/board/list}'|"
            type="button">HOME</button>
    <br><br>
    <div>
        <label>ID</label>
        <input type="text" class="form-control" th:value="${board.id}" readonly>
    </div>

    <div>
        <label>제목</label>
        <input type="text" class="form-control" th:value="${board.title}" readonly>
    </div>

    <div>
        <label>작성자</label>
        <input type="text" class="form-control" th:value="${board.writer}" readonly>
    </div>

    <div>
        <label>조회수</label>
        <input type="text" class="form-control" th:value="${board.countView}" readonly>
    </div>

    <div>
        <label>글 내용</label>
        <textarea cols="150" rows="10" id="contents"  name="content" class="form-control" th:text="${board.content}" readonly></textarea>
    </div>

    <div>
        <label>등록일</label>
        <input type="text" class="form-control" th:value="${board.time}" readonly>
    </div>

    <div>
        <label> 첨부파일 </label>
        <input type="text" class="form-control" th:if="${board.filename==null}" th:value="'파일 없음'" readonly>
        <input type="text" class="form-control" th:unless="${board.filename==null}" th:value="${board.filename}" readonly>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <a class="w-100 btn btn-primary btn-lg"
                    th:href="@{/board/modify/{id}(id = ${board.id})}"
                    type="button">수정</a>
        </div>
        <div class="col">

            <!--  다운로드할 파일이 없을 때 alert 예외처리    -->
            <a class="w-100 btn btn-secondary btn-lg" th:if="${board.getFilename()==null}"
                    th:href="@{message}"
                    type="button">다운로드</a>

            <a class="w-100 btn btn-secondary btn-lg" th:unless="${board.getFilename()==null}"
               th:href="@{${board.filepath}}"
                    type="button">다운로드</a>

        </div>

        <div class="col">
            <form action="/board/delete/" method="post" >
                <input style="width: 10px" type="hidden" name="id" th:value="${board.id}">
            <button class="w-100 btn btn-secondary btn-lg" type="submit">삭제</button>
            </form>
        </div>
    </div><br><br>

    <hr class="my-4">
    <h2>Comments</h2>

    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form name="comment-form" id="reply" action="/board/view/replyWrite" method="post" autocomplete="off">
                <div class="form-group">
                    <input cols="80" rows="10" type="text" id="writer" name="writer" class="form-control" placeholder="작성자를 입력해주세요.." aria-label="작성자를 입력해주세요.." aria-describedby="basic-addon2">
                    <input cols="80" rows="10" type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
                    <input style="width: 10px" type="hidden" id="id" name="id" th:value="${board.id}">
                </div><br>
                <button class="btn btn-outline-secondary" type="submit">등록</button>
            </form>
        </div>
    </div>

    <!--  댓글이 append되도록 한다.  -->
    <table class="table">
        <thead>
            <tr style="text-align: center">
                <th>작성자</th>
                <th>댓글내용</th>
                <th>등록일</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="replyList : ${replyLists}">
                <td style="text-align: center" th:text="${replyList.writer}"></td>
                <td style="text-align: center" th:text="${replyList.content}"></td>
                <td style="text-align: center" th:text="${replyList.time}"></td>
                <td style="text-align: center" th:text="${replyList.replyId}"></td>
        <form action="/board/view/replyDelete/" method="post">
                <input style="width: 10px" type="hidden" name="id" th:value="${replyList.replyId}">
                <input style="width: 10px" type="hidden" name="boardId" th:value="${board.id}">
                <td><button class="btn btn-outline-secondary" type="submit">댓글삭제</button></td>
        </form>
            </tr>

        </tbody>
    </table>
    <br><br>
</div>
</body>
</html>