<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container" style="max-width: 1000px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='boardWrite.html'"
                    th:onclick="|location.href='@{/board/write}'|"
                    type="button">글 등록</button>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
            <tr style="text-align: center">
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            </thead>

            <tbody>

            <tr th:each="board : ${list}">
                <td style="text-align: center" th:text="${board.id}"></td>
                <td>
                    <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
                </td>
                <td style="text-align: center" th:text="${board.writer}"></td>
                <td style="text-align: center" th:text="${board.time}"></td>
                <td style="text-align: center" th:text="${board.countView}"></td>
            </tr>

            </tbody>
        </table>
    </div><br>
    <div style="text-align:center; margin:auto">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page == 0}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" ></a>
            <a th:if="${page != 0 && page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
        <br>
        <form th:action="@{/board/list}" method="get">
            <br><input type="text" name="searchKeyword">
            <button type="submit">검색</button>
        </form>
    </div>
</div> <!-- /container -->

</body>
</html>