<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시글 상세</h2>
    </div>

    <div>
        <label>ID</label>
        <input type="text" class="form-control" th:value="${board.id}" readonly>
    </div>

    <div>
        <label>제목</label>
        <input type="text" class="form-control" th:value="${board.title}" readonly>
    </div>

    <div>
        <label>작성자</label>
        <input type="text" class="form-control" th:value="${board.writer}" readonly>
    </div>

    <div>
        <label>조회수</label>
        <input type="text" class="form-control" th:value="${board.countView}" readonly>
    </div>

    <div>
        <label>글 내용</label>
        <textarea cols="150" rows="10" id="contents"  name="content" class="form-control" th:text="${board.content}" readonly></textarea>
    </div>

    <div>
        <label>등록일</label>
        <input type="text" class="form-control" th:value="${board.time}" readonly>
    </div>

    <div>
        <label> 첨부파일 </label>
        <input type="text" class="form-control" th:if="${board.filename==null}" th:value="'파일 없음'" readonly>
        <input type="text" class="form-control" th:unless="${board.filename==null}" th:value="${board.filename}" readonly>
    </div>

    <hr class="my-4">
    <div class="row">
        <div class="col">
            <a class="w-100 btn btn-primary btn-lg"
                    th:href="@{/board/modify/{id}(id = ${board.id})}"
                    type="button">수정</a>
        </div>
        <div class="col">

            <!--  다운로드할 파일이 없을 때 alert 예외처리    -->
            <a class="w-100 btn btn-secondary btn-lg" th:if="${board.getFilename()==null}"
                    th:href="@{message}"
                    type="button">다운로드</a>

            <a class="w-100 btn btn-secondary btn-lg" th:unless="${board.getFilename()==null}"
               th:href="@{${board.filepath}}"
                    type="button">다운로드</a>

        </div>

        <div class="col">
            <a class="w-100 btn btn-secondary btn-lg"
                    th:href="@{/board/delete/{id}(id = ${board.id})}"
                    type="button" >삭제</a>
        </div>
    </div><br><br>

    <!--  Reply Section  -->

    <div class="input-group mb-3">
        <label> 댓글달기 </label>
        <form id="reply" action="/board/view/replyWrite" method="post">
            <input type="text" id="content" name="content" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
            <input type="hidden" id="id" name="id" th:value="${board.id}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">등록</button>
            </div>
        </form>
    </div>

    <!--  댓글이 append되도록 한다.  -->
    <table class="table">
        <thead>
            <tr style="text-align: center">
                <th>글번호</th>
                <th>댓글내용</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>

        <tr th:each="reply : ${replyLists}">
            <td style="text-align: center" th:text="${reply.replyId}"></td>
            <td style="text-align: center" th:text="${reply.content}"></td>
            <td style="text-align: center" th:text="${reply.createDate}"></td>
        </tr>

        </tbody>
    </table>


</div> <!-- /container -->
</body>
</html>